.project-container {
  align-self: center;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 1px solid rgba(228, 228, 228, 0.5);
  width: 32rem;
}

.layoutContainer {
  display: flex;

  width: 100%;
}
body {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.line {
  width: 100%;
  height: 0.03rem;
  position: absolute;
  top: 6.5rem;
  background: #e1e1e1;
  left: 0;
}
.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.navbar-item-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.addProjectButton {
  display: flex;
  height: 3.25rem;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.75rem;
  border: none;
  background: #d97a44;
  box-shadow: 0px 0px 0px 2px rgba(254, 164, 114, 0.5);
}

.addProjectButton > p {
  color: #fbfbfb;
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 1.575rem */
  text-transform: capitalize;
}
.p1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
}
.p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
}
.navbar-item-text {
  color: #989898;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.parent {
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: 0;
}
.accordionParent {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.main-content{
margin-left: 10%;

}
.footerParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.bottonNavBarContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2.5rem;
}
.footerText {
  color: #919191;
  font-family: Inter;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.015rem;
  text-transform: lowercase;
}
.sidebar {
  position: sticky;

  top: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 280px;
  justify-content: space-around;
  display: flex;
  border-right: 1px solid rgba(228, 228, 228, 0.5);
  background: #f8f8f8;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
}
.main-content {
  /* margin-left: 20%;
  width: calc(100% - 280px); */
  flex-grow: 1;
}

.main-content-h1 {
  width: 100%;
  display: block;
  color: #2f3140;
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.project-names >li {
  color: #9D9D9D;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.project-name-div {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}
.container-title {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: Inter;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 0rem 1rem;
  margin:0rem;
}

.title_subtitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 0.2rem;
}

.title,
.subtitle {
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  color: #9d9d9d;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.subtitle {
  color: #979797;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.specific-details-card > h2 {
  color: #979797;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.todoListContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: auto;
  width: 100%;
}

.priorityLevelHigh {
  border-radius: 0.5rem;
  background: rgba(255, 158, 158, 0.5);
  display: flex;
  padding: 0.25rem 0.75rem;
  align-items: flex-start;
  gap: 0.5rem;
  color: #ad1717;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.priorityLevelLow {
  border-radius: 0.5rem;
  background: rgba(255, 249, 106, 0.5);
  display: flex;
  padding: 0.25rem 0.75rem;
  align-items: flex-start;
  gap: 0.5rem;
  color: #8f6700;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.specific-details-card {
  border-radius: 0.5rem;
  border: 1px solid rgba(228, 228, 228, 0.5);
  display: flex;
  width: 20rem;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: 2rem;
  align-self: center;
}
.tasks {
  width: 100%;
}
.specific-details-card > h1 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: Inter;
  margin: 0;
}

.addTask {
  border-radius: 0.75rem;
  background: #ed661a;
  border: none;
  border-radius: 0.75rem;
  background: #ed661a;
  box-shadow: 0px 0px 0px 2px rgba(254, 164, 114, 0.5),
    0px -2px 6px 0px #d3692c inset;
  display: inline-flex;
  height: 3.25rem;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 1.575rem */
  text-transform: capitalize;
  margin-top: 2rem;
}
