.project-container {
  align-self: center;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 1px solid rgba(228,  228, 228, 0.5);
  width: 32rem;
}
body {
  padding: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.container-title {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: Inter;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 0;
}

.title_subtitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 0.2rem;
}

.title,
.subtitle {
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  color: #191919;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.subtitle {
  color: #979797;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.specific-details-card >h2{
  color: #979797;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}



.todoListContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: auto;
  width: 100%;

}

.priorityLevel {
  border-radius: 0.5rem;
  background: rgba(255, 158, 158, 0.5);
  display: flex;
  padding: 0.25rem 0.75rem;
  align-items: flex-start;
  gap: 0.5rem;
  color: #ad1717;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}



.specific-details-card {
  border-radius: 0.5rem;
  border: 1px solid rgba(228, 228, 228, 0.5);
  display: flex;
  width: 20rem;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: 2rem;
  align-self: center;
}
.tasks{
  width: 100%;
}
.specific-details-card > h1 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: Inter;
  margin: 0;
}

.addTask {
  border-radius: 0.75rem;
  background: #ed661a;
  border: none;
  border-radius: 0.75rem;
  background: #ed661a;
  box-shadow: 0px 0px 0px 2px rgba(254, 164, 114, 0.5),
    0px -2px 6px 0px #d3692c inset;
  display: inline-flex;
  height: 3.25rem;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 1.575rem */
  text-transform: capitalize;
  margin-top: 2rem;
}
